.file-display {
  background: var(--accent-color);
  border-radius: 10px;
  padding-bottom: 10px;
}
.file-display-heading {
  color: var(--primary-color);
  font-size: 18px;
  word-break: break-all;
  padding: 10px 10px 10px 10px;
}
.file-display-photo {
  height: 70px;
  width: 100%;
  object-fit: fill;
  border-radius: 20px 20px 0 0;
}
.file-display-file-info {
  padding: 10px 10px 10px 10px;
  font-size: 14px;
}
.file-display-file-info::before {
  content: url("/assets/location-pin.svg") / "";
}

section.file-display a {
  padding-left: 20px;
  text-decoration: none;
  color: var(--primary-color);
}
section.file-display a::after {
  content: "\203A";
  margin-left: 5px;
}
