.file-display-photo {
  height: 100px;
  padding-bottom: 1px;
  padding-top: 1px;
  object-fit: contain;
}

:host {
  display: inline-block;
}

.dropdown-toggle::after {
  display: none;
}

img {
  cursor: pointer;
}

p {
  margin-bottom: 0;
}